/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal; }

:root {
    --main-yellow: #ebd84a;
    --main-purple: #785eb6;
    --dark-purple: #2b1c4e;
  }
  